<h2 class="border-bottom text-dark"><%= t('heading.еdit_profile') %></h2>

<div class="col-md-6 buffer-top py-4">
  <%= render 'form' %>

  <p class="buffer-top">
    <%# Ссылка на смену пароля текущего залогиненного юзера (этот путь %>
    <%# генерит девайз) %>
    <%= link_to t('links.сhange_password'), edit_user_registration_path %>
  </p>

  <div class="py-4">
    <%= link_to t('links.to_return'), :back %>
  </div>
</div>
