<h1 class="border-bottom text-dark"><%= t('heading.editing_event') %></h1>

<div class="col-md-6 buffer-top py-4">
  <%= render 'form' %>

  <div class="py-4">
    <%= link_to t('links.to_return'), :back %>
  </div>
</div>