<h1 class="border-bottom text-dark"><%= t('heading.event') %></h1>

<div class="buffer-both py-4">
  <%= link_to t('links.сreate_event'), new_event_path, class: 'btn btn-success' %>
</div>

<div class="row buffer-bottom">
  <!-- Рендерим сразу массив событий, каждый в паршиале 'events/event' -->
  <%= render partial: 'events/event', collection: @events %>
</div>
