@import '~bootstrap/scss/bootstrap.scss';
@import 'events.css';
@import 'users';
@import '~@fortawesome/fontawesome-free';

// отступы
.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

// аватар для users & events
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

// эскизы events/index
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}

// карта
#map {
  width: 100%;
  height: 200px;
  touch-action: auto
}
